* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Accent: #dec377;
$Accent_dark: #ab8b2f;
$Accent75: rgba(222, 195, 119, 0.75);
$Accent40: rgba(222, 195, 119, 0.4);
$Main: #f2f2f2;
$Main_light: #ffffff;
$Dark: rgba(0, 0, 0, 0.8);
$Secondary: rgba(0, 0, 0, 0.5);
$Detail: rgba(0, 0, 0, 0.1);
$Inactive: rgba(0, 0, 0, 0.1);
$MainText: rgba(0, 0, 0, 0.8);
$Title: rgba(0, 0, 0, 0.9);
$Subtitle: rgba(0, 0, 0, 0.75);
$Secondary: rgba(0, 0, 0, 0.5);

@mixin h1() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 40px;
  }
  line-height: 50px;
  letter-spacing: 0.01em;
  color: $Title;
}

@mixin h2() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 28px;
  }
  line-height: 40px;
  letter-spacing: 0.03em;
  color: $Title;
}

@mixin h3() {
  font: {
    family: Commissioner;
    style: normal;
    weight: bold;
    size: 26px;
  }
  line-height: 40px;
  letter-spacing: 0.01em;
  color: $Title;
}

@mixin h4() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 26px;
  }
  line-height: 45px;
  color: $Title;
}

@mixin h5() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 20px;
  }
  line-height: 30px;
  color: $Title;
}

@mixin h6() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 18px;
  }
  line-height: 25px;
  letter-spacing: 0.01em;
  color: $Title;
}

@mixin nav() {
  font: {
    family: Commissioner;
    style: normal;
    weight: 500;
    size: 14px;
  }
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $Subtitle;
}

@mixin subtitle1() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: 600;
    size: 16px;
  }
  line-height: 30px;
  letter-spacing: 0.01em;
  color: $Subtitle;
}

@mixin subtitle2() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: normal;
    size: 16px;
  }
  line-height: 25px;
  letter-spacing: 0.02em;
  color: $Subtitle;
}

@mixin Maintext() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: 300;
    size: 15px;
  }
  line-height: 25px;
  color: $MainText;
}

@mixin Maintext_highlighted() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: normal;
    size: 15px;
  }
  line-height: 25px;
  color: $MainText;
}

@mixin Seconrytext() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: 300;
    size: 14px;
  }
  line-height: 25px;
  letter-spacing: 0.01em;
  color: $MainText;
}

@mixin Additionaltext() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: 300;
    size: 13px;
  }
  line-height: 20px;
  color: $Secondary;
}

@mixin Button() {
  font: {
    family: Commissioner;
    style: normal;
    weight: bold;
    size: 13px;
  }
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $MainText;
}

@mixin Buttonadditional() {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: 600;
    size: 12px;
  }
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $Secondary;
}

@mixin Caption() {
  font: {
    family: Commissioner;
    style: normal;
    weight: 500;
    size: 13px;
  }
  line-height: 20px;
  letter-spacing: 0.01em;
  color: $Secondary;
}

@mixin Overline() {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 14px;
  }
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $MainText;
}

@mixin buttonOnPage {
  width: 200px;
  height: 45px;
  background-color: $Accent;
  @include Button();
  border: 2px solid #dec377;
  outline: none;
  color: $Main_light;

  &:hover {
    @include Button();
    color: $Accent;
    background: $Main_light;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s;
  }
}

@mixin form {
  font: {
    family: Commissioner;
    style: normal;
    weight: 500;
    size: 13px;
  }
  line-height: 20px;
  letter-spacing: 0.01em;
  color: $Secondary;
}

@mixin footer {
  font: {
    family: "Lato", sans-serif;
    style: normal;
    weight: normal;
    size: 15px;
  }
  line-height: 25px;
  text-transform: uppercase;
  color: $Secondary;
}

@mixin footerTitle {
  font: {
    family: Commissioner;
    style: normal;
    weight: normal;
    size: 14px;
  }
  letter-spacing: 0.04em;
  line-height: 25px;
  text-transform: uppercase;
  color: $Subtitle;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

// header

.header {
  width: 100vw;
  //   display: flex;
  background: $Main_light;

  &__leng_and_phone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 25px;

    &-leng {
      width: 40%;
      span {
        @include Maintext();
      }

      .select_language {
        margin-left: 4px;
        font: {
          family: Source Sans Pro;
          style: normal;
          weight: normal;
          size: 16px;
        }
        line-height: 20px;
        color: $MainText;
        border: none;
        outline: none;
      }
    }

    &-phone {
      width: calc(40% + 49px);

      display: flex;
      justify-content: flex-end;
      margin-right: -49px;
      a {
        @include Overline();
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
      }

      img {
        margin-left: 7px;
        margin-right: 6px;

        &:last-child {
          margin-left: 10px;
          margin-right: 0px;
        }
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;

    &-nav {
      width: 677px;
      display: flex;
      position: relative;

      &_search {
        position: absolute;
        right: -9%;
      }

      &--item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 8px;
        margin-bottom: 12px;
        &-list {
          display: flex;
          align-items: center;
          &-link {
            @include nav();
            text-decoration: none;
          }
        }
      }
    }
  }
}

//  /header

.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  background: url(./assets/main_background.png) no-repeat;
  background-attachment: fixed;

  // first screen

  .first__screen {
    width: 100%;
    position: relative;
    // height: 650px;
    // background: url('./assets/main_screen/Главный\ экран.png') no-repeat center;
    // background-size: cover;

    .owl-carousel {
      z-index: 0;
    }

    .owl-nav {
      position: absolute;
      bottom: 15%;
      left: 19%;
      transform: translate(10px, 1px);
      border: none;
      outline: none;
      cursor: pointer;

      button {
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

    &-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      transform: translateY(4px);
      top: 24%;

      &-title {
        span {
          display: block;
        }
        @include h1();
        padding-bottom: 20px;
      }

      &-subtitle {
        @include Maintext();
        padding-bottom: 50px;
      }

      &-button {
        @include buttonOnPage();
      }

      &-button-slider {
        display: none;
        margin-bottom: 100px;
        &-left,
        &-right {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }

  .background {
    background-color: #e5e5e5;
    position: relative;
  }

  &__advantages {
    margin-top: -90px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-card {
      width: 270px;
      height: 285px;
      padding-top: 40px;
      background: $Main_light;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include subtitle2();

      img {
        padding-bottom: 25px;
      }

      span {
        display: block;
      }
    }
  }
  // introduction
  &__introduction {
    width: 100%;
    background-color: $Main_light;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    font-size: 0;

    &-content {
      max-width: 540px;
      margin: 50px 0 60px 70px;
      display: flex;
      flex-direction: column;
      // align-items: center;

      &-title {
        @include h2();
        margin-bottom: 30px;
      }

      &-subtitle {
        @include Maintext();
        max-width: 470px;

        span {
          display: block;
        }
      }
    }
  }

  // activities
  &__activities {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;

    &-title {
      @include h2();
    }

    &-cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 35px;
      margin-bottom: 40px;
      column-gap: 30px;
      row-gap: 30px;

      &-card {
        width: 370px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-start;
        background: $Main_light;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        position: relative;

        &--inner {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          padding: 25px 0 25px 40px;

          img {
            position: absolute;
            right: 15px;
            top: 15px;
          }

          h5 {
            width: 180px;
            @include h5();
          }

          button {
            @include Buttonadditional();
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }

    &-button {
      @include buttonOnPage();
    }
  }

  // direction

  &__direction {
    width: 100%;
    margin-bottom: 18px;

    &-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      &-title {
        @include h2();
      }

      &-subtitle {
        max-width: 770px;

        div {
          @include Maintext();

          &:first-child {
            padding-bottom: 25px;
          }
        }
      }
    }

    &-courusel {
      margin-bottom: -128px;

      .owl-nav {
        .owl-prev {
          position: absolute;
          top: 41%;
          left: -100px;
          outline: none;
        }

        .owl-next {
          position: absolute;
          top: 41%;
          right: -100px;
          outline: none;
          @include Seconrytext();
        }
      }
    }
  }

  // review

  .review {
    background: $Main_light;
  }

  &__review {
    margin-top: 210px;
    margin-bottom: 105px;
    position: relative;

    &-title {
      @include h2;
    }

    &-contain {
      width: 100%;
      margin-top: 35px;
      display: flex;

      &-button {
        @include buttonOnPage();
        margin-top: 30px;
      }

      &-block {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

        &::after {
          content: url("./assets/review1.png");
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        &-wrap {
          padding: 140px 65px 65px 50px;
          span {
            display: block;
            @include Maintext();
          }

          &-name {
            @include h3();
            color: $Accent;
            margin-bottom: 20px;
          }

          &-description {
            @include Seconrytext();
            margin-bottom: 25px;
          }

          &-button {
            @include Buttonadditional();
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }

    .owl-nav {
      position: absolute;
      right: 0;
      bottom: -14%;
      transform: translate(0px, 2px);

      .owl-prev,
      .owl-next {
        outline: none;
        border: none;
      }
    }

    .dots {
      position: absolute;
      bottom: 3%;
      right: 47%;
      transform: translate(15px, 6px);

      .owl-dot {
        margin-left: 5px;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.1);
        outline: none;
        border: none;
        cursor: pointer;
      }

      .owl-dot.active {
        background: $Accent;
      }
    }
  }

  // clients

  &__clients {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    &-contain {
      width: 100%;
      display: flex;
      // align-items: center;

      &-service {
        max-width: 670px;
        @include Maintext();
      }

      &-button {
        @include buttonOnPage();
        margin-bottom: 0;
        margin-left: 100px;
      }
    }
    &-brand {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      mix-blend-mode: luminosity;
    }
  }

  // triangle

  &__triangle {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;

    &-cards {
      display: flex;
      flex-direction: column;

      &-contain {
        display: flex;
        justify-content: space-between;

        &-explain {
          width: 100%;
          max-width: 570px;
          background: $Main_light;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          padding: 40px 50px 55px 50px;

          &-title {
            @include h4();
            margin-bottom: 15px;
          }

          &-subtitle {
            @include Maintext();
          }
        }

        &-protect {
          position: relative;
          width: 100%;
          max-width: 570px;
          background: $Main_light;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          padding: 40px 50px 55px 50px;

          &::after {
            content: url("./assets/coner.svg");
            position: absolute;
            top: 0;
            right: 0;
          }

          &-title {
            @include h4();
            margin-bottom: 15px;
          }

          &-subtitle {
            @include Maintext();
          }
        }
      }

      &-pay {
        display: flex;
        justify-content: space-between;
        padding: 35px 50px 45px 50px;
        margin-top: 30px;
        background: $Main_light;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        &-title {
          @include h4();
          margin-bottom: 15px;
        }

        &-subtitle {
          @include Maintext();
          max-width: 720px;
          padding-top: 5px;
        }
      }
    }
  }

  .owl-dot {
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  // service
  &__background-service {
    background: #e5e5e5;
    margin-top: 180px;
  }

  &__service {
    margin-top: 80px;
    margin-bottom: 105px;
    display: flex;
    flex-direction: column;

    &-title {
      @include h2();
      margin-bottom: 35px;
    }

    &-contain {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 30px;
      margin-bottom: 50px;

      &-card {
        width: 100%;
        position: relative;
        background: $Main_light;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        padding-top: 25px;
        padding-left: 100px;
        padding-right: 45px;
        @include h5();
        a {
          position: absolute;
          bottom: 20px;
          right: 30px;
          @include Buttonadditional();
          background: none;
          outline: none;
          border: none;
          text-decoration: none;
          cursor: pointer;
        }

        &:nth-child(1) {
          height: 140px;
          max-width: 470px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent40;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(2) {
          height: 140px;
          max-width: 670px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent40;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(3) {
          height: 140px;
          max-width: 570px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent75;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(4) {
          height: 140px;
          max-width: 570px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent75;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(5) {
          height: 140px;
          max-width: 670px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(6) {
          height: 140px;
          max-width: 470px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(7) {
          height: 140px;
          max-width: 570px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent75;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(8) {
          height: 140px;
          max-width: 570px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent75;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(9) {
          height: 140px;
          max-width: 470px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent40;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }

        &:nth-child(10) {
          height: 140px;
          max-width: 670px;

          &::before {
            content: " ";
            height: 100%;
            width: 70px;
            background: $Accent40;
            position: absolute;
            top: 0;
            left: 0px;
          }
        }
      }
    }

    &-allServises {
      display: flex;
      justify-content: space-between;

      &-text {
        @include Maintext();
        max-width: 770px;
      }

      &-button {
        @include buttonOnPage();
      }
    }
  }

  // trust

  &__background-trustProfit {
    background: $Main_light;
  }

  &__trustProfit {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;

    &-trust {
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 54px;

      &-content {
        height: 100%;
        max-width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;

        &-title {
          @include h2();
          margin-bottom: 30px;
        }

        &-subtitle {
          @include Maintext();
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        margin-left: 149px;

        &-contain {
          max-width: 440px;
          position: relative;
          display: flex;
          flex-direction: column;
          @include subtitle1();
          list-style-type: none;
          row-gap: 30px;
          // list-style-image: url('./assets/ul_circle.png');

          &-list {
            padding: 5px 0 0 70px;
            position: relative;
            &::before {
              content: url("./assets/ul_circle.png");
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

    &-profit {
      width: 100%;
      display: flex;
      margin-top: 60px;

      &-content {
        height: 100%;
        max-width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;

        &-title {
          @include h2();
          margin-bottom: 30px;
        }

        &-subtitle {
          @include Maintext();
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        margin-left: 149px;

        &-contain {
          position: relative;
          display: flex;
          flex-direction: column;
          @include subtitle1();
          list-style-type: none;
          row-gap: 30px;
          // list-style-image: url('./assets/ul_circle.png');

          &-list {
            padding: 5px 0 0 70px;
            position: relative;
            &::before {
              content: url("./assets/ul_circle.png");
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

  // advantages
  &__background-finish {
    background: #e5e5e5;
  }

  &__plus {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;

    &-title {
      @include h2();
    }

    &-contain {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 40px;

        &-card {
          height: 335px;
          max-width: 270px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: $Main_light;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          border-radius: 5px;
          text-align: center;
          padding: 40px 20px 0 20px;
          @include subtitle2();

          img {
            padding-bottom: 25px;
          }
        }
      }

      &-description {
        position: relative;
        padding: 40px 370px 45px 50px;
        background: $Main_light;
        @include Maintext();

        &::before {
          content: url("./assets/coner.svg");
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  &__collaboration {
    width: 100%;
    display: flex;

    &-contain {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-organization {
        max-width: 500px;
        display: flex;
        flex-direction: column;

        &-title {
          @include h2();
          margin-bottom: 35px;
        }

        &-list {
          counter-reset: number;
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          padding-left: 100px;
          margin-bottom: 35px;

          &-item {
            list-style: none;
            @include Maintext_highlighted();
            position: relative;

            // &:first-child::before {
            //   content: url('./assets/Number1.png');
            //   position: absolute;
            //   top: 3px;
            //   left: -100px;
            // }

            // &:last-child::before {
            //   content: url('./assets/Number2.png');
            //   position: absolute;
            //   top: 3px;
            //   left: -100px;
            // }

            &::before {
              position: absolute;
              top: 1px;
              left: -100px;
              width: 70px;
              height: 70px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              counter-increment: number;
              content: counter(number);
              font-family: Commissioner;
              font-style: normal;
              font-weight: 800;
              font-size: 22px;
              color: #dec377;
              border: 1px solid rgba(222, 195, 119, 0.75);
            }
          }
        }

        &-subtitle {
          @include Seconrytext();
        }
      }

      &-form {
        max-width: 570px;
        display: flex;
        flex-direction: column;

        padding: 40px 50px 50px 50px;
        background: $Main_light;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 3px;

        &-name {
          width: 100%;
          margin-bottom: 20px;

          h6 {
            @include form();
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            outline: none;
            @include Maintext();
            color: $Secondary;
            opacity: 0.6;
          }
        }

        &-phone {
          width: 100%;
          margin-bottom: 20px;

          h6 {
            @include form();
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            outline: none;
            @include Maintext();
            color: $Secondary;
            opacity: 0.6;
          }
        }

        &-politics {
          @include Additionaltext();
          margin-bottom: 28px;

          span {
            @include Additionaltext();
            font-weight: bold;
            text-decoration: underline;
          }
        }

        &-button {
          @include buttonOnPage();
          width: 100%;
          padding-right: 14px;
        }
      }
    }
  }

  &__cost {
    display: flex;
    flex-direction: column;
    max-width: 670px;
    margin-top: 100px;
    margin-bottom: 100px;

    &-title {
      @include h2();
      margin-bottom: 30px;
    }

    &-subtitle {
      @include Maintext();
      margin-bottom: 30px;
    }

    &-button {
      @include buttonOnPage();
    }
  }
}

// footer
.footer {
  width: 100vw;
  background: #e5e5e5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &__contain {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;

    &-mk {
      display: flex;
      flex-direction: column;
      max-width: 270px;

      &-title {
        @include h5();
        margin-bottom: 70px;
      }

      &-group {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 59px;

        &-unp {
          span {
            @include Caption();
            padding-right: 15px;
          }
          @include Additionaltext();
        }

        &-rating {
          span {
            @include Caption();
            padding-right: 15px;
          }
          @include Additionaltext();
        }
      }

      &-social {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        margin-bottom: 47px;
      }

      &-button_map {
        position: relative;
        @include Buttonadditional();
        border: none;
        outline: none;
        background: transparent;
        text-align: left;
        cursor: pointer;
        margin-bottom: 30px;

        &::after {
          content: url("./assets/arrow.png");
          position: absolute;
          top: 1px;
          right: 111px;
        }
      }

      &-button_politics {
        max-width: 162px;
        position: relative;
        @include Buttonadditional();
        border: none;
        outline: none;
        background: transparent;
        text-align: left;
        cursor: pointer;

        &::after {
          content: url("./assets/arrow.png");
          position: absolute;
          top: 11px;
          left: 177px;
        }
      }
    }

    &-office {
      display: flex;
      flex-direction: column;
      margin-top: 35px;

      &-title {
        @include footer();
        padding-bottom: 4px;
      }

      &-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 35px;
        border-top: 1px solid $Detail;

        &-contact {
          max-width: 200px;
          display: flex;
          flex-direction: column;
          margin-top: 29px;

          &-title {
            @include footerTitle();
          }

          &-phones {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            a {
              @include Additionaltext();
              text-decoration: none;
            }
          }

          &-address {
            margin-top: 20px;
            span {
              @include Caption();
              color: $Subtitle;
            }

            address {
              @include Additionaltext();
              padding-top: 5px;
              letter-spacing: 0.025em;
            }
          }

          &-resident {
            margin-top: 20px;
            @include Caption();
            color: $Subtitle;

            a {
              @include Additionaltext();
              color: $MainText;
              text-decoration: none;
            }
          }

          &-mail {
            margin-top: 20px;

            a {
              font-family: Commissioner;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 20px;
              color: $MainText;
              text-decoration: none;
            }
          }
        }

        &-location1 {
          margin-top: 29px;
          display: flex;
          flex-direction: column;
          row-gap: 35px;

          &-group {
            max-width: 200px;
            display: flex;
            flex-direction: column;

            &-title {
              @include footerTitle();
              margin-bottom: 10px;
            }

            &-address {
              span {
                @include Caption();
                color: $Subtitle;
              }

              address {
                @include Additionaltext();
                padding-top: 5px;
              }
            }

            &-mail {
              margin-top: 5px;

              a {
                font-family: "Lato", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: $MainText;
                text-decoration: none;
              }
            }
          }
        }

        &-location2 {
          margin-top: 29px;
          display: flex;
          flex-direction: column;
          row-gap: 35px;

          &-group {
            max-width: 200px;
            display: flex;
            flex-direction: column;

            &-title {
              @include footerTitle();
              margin-bottom: 10px;
            }

            &-address {
              span {
                @include Caption();
                color: $Subtitle;
              }

              address {
                @include Additionaltext();
                padding-top: 5px;
              }
            }

            &-mail {
              margin-top: 5px;

              a {
                font-family: "Lato", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: $MainText;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    &-time {
      display: flex;
      flex-direction: column;
      margin-top: 35px;

      &-title {
        @include footer();
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      &-work {
        max-width: 170px;
        margin-top: 29px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        &-people {
          div {
            @include Caption();
            color: $Subtitle;
            padding-bottom: 5px;
          }
          @include Additionaltext();
        }

        &-call {
          div {
            display: block;
            padding-bottom: 5px;
            @include Caption();
            color: $Subtitle;
          }
          @include Additionaltext();
        }

        &-consultant {
          div {
            @include Caption();
            color: $Subtitle;
            padding-bottom: 5px;
          }
          @include Additionaltext();
        }
      }
    }
  }

  &__digital {
    padding-top: 17px;
    padding-bottom: 18px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $MainText;
  }
}
